<h2>Directives</h2>
<h3>1.Structural Directives</h3>
<h5>1]ngIf</h5>
<div *ngIf="(age > 18) || showData">
    Your age is {{age}} and your are eligible 
</div>
<br>
<h5>2]ngFor</h5>
<select>
    <option *ngFor="let nm of names">{{ nm }}</option>
</select>
<br><br>
<h5>2]ngSwitch</h5>
<div [ngSwitch]="num">
    <div *ngSwitchCase ="'1'">One</div>
    <div *ngSwitchCase ="'2'">One</div>
    <div *ngSwitchDefault> Default</div>
</div>
<br>
<h3>2.Attribute Directives</h3>

<div [ngClass]="myClass1">
<!-- <div class="test1"> -->
    <p>This is ngClass Attribute directive</p>
</div>

<div [ngClass]="showData ? 'test1' : 'test2'">
    <p>This is also ngClass Attribute directive with ternory operator</p>
</div>
<br>
<div [ngStyle] = "{'color':'red', 'font-size': '20px', 'background-color': 'skyblue'}" >
    <p>This is ngStyle Attribute binding </p>
</div>
<br>
<div [ngStyle] = "myStyle" >
    <p>This is ngStyle Attribute binding </p>
</div>

<br>
<div [ngClass] = "myClass3" >
    <p>This is ngStyle Attribute binding </p>
</div>

<div appCustDir >
    <p>This is custom directive </p>
</div> 
<button class="btn btn-link"> Submit</button>

